.reviewcard-table {
    width:100%;
    border-collapse: collapse;
}

.reviewcard-table th, td {
    text-align: center;
    padding: 8px;
}



.reviewcard-table td{
    max-width:20px;
    border-left: 2px solid gray;
}

.notd{
    border-left:5px solid red;

}

.t-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    margin: 0 auto;
    height: 24px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.reviewcard-table td {
    border-top: 1px solid black;
    border-bottom: none; /* Remove bottom border */
}

/* Apply border only to top and bottom sides for th elements */
.reviewcard-table th {
    border-top:none;
    border-bottom: none; 
}

.cardreviewtype{
    height: 10%;
}

.reviewcardlist{
    height: 90%;
    overflow-y: scroll;
}

.reviewcardlist::-webkit-scrollbar {
    display: none;
}

@media only screen and (max-width:600px) {
    .review-container{
        width: 100%;
    }

    .review-card{
        overflow-y: scroll;
    }
}


